<div ng-if="!visualize" class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well">
      <div class="row">
        <div class="col-xs-12">
          <filepicker changed="filesSelected(files)" />
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="problems.data" class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <prism language="javascript" problems="problems"></prism>
  </div>
</div>
<div ng-if="error" class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="alert alert-danger">
      {{error}}
    </div>
  </div>
</div>
